@use 'variaveis';

.trailer {
    padding: 5.6vw;
    position: relative;
    background-image: url('../../dist/images/fundo-trailer.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    
    &::before {
        content: '';
        position: absolute;
        top: 1;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Sobreposição escura para contraste */
        z-index: 1;
    }

    .sub--title {
        margin-left: 150px;
        text-align: left;
        font-size: 46px;
        font-weight: bold;
        margin-bottom: 10px;
        color: variaveis.$corTextoPrincipal;
        text-transform: uppercase;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 16.2%;
            transform: translateX(-50%);
            width: 52%;
            height: 5px;
            background-image: linear-gradient(to right, variaveis.$corTextoPrincipal, variaveis.$corTextoSpan);
            border-radius: 3px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }
    }
    

    &__container {
        position: relative;
        margin-top: 30px;
        width: 80%;
        max-width: 800px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

        iframe {
            width: 100%;
            height: 450px;
            
            @media (max-width: 768px) {
                height: 250px;
            }
        }
    }
    
    @media (max-width: 768px) {
        padding: 8vw; 
        min-height: 60vh; 
        background-position: left center;

        .sub--title {
            font-size: 24px;
            margin-bottom: 15px;
            margin: 0;
            text-align: center;

            &::after {
                width: 100%;
                left: 50%;
            }
        }

        &__container {
            width: 100%;
            iframe {
                height: 200px;
            }
        }
    }
}
